body {
    font-family: "Open Sans", sans-serif;
  }
h1{
    color: rgba(255, 0, 0, 0.448);
    font-family: "Nunito Sans", sans-serif;
}
p{
    color: blueviolet;
}
ul{
    background-color: rgba(0, 0, 255, 0.204);
    font-weight: bold;
}
li{
    color: rgb(186, 43, 226);
}
q{
    background-color: rgba(128, 128, 128, 0.153);
}